* {
    font-family: 'Times New Roman', Times, serif;

}
h1 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

img{
    height: auto;
    width: 700px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align:center;
}

li{
    font-size: 23px;
}

.regular {
    font-size: 23px;
    font-weight: normal;
}

ol {
    font-weight: 700;
}
 .centered {
     text-align: center;
 }

 .links {
     font-size: 30px;
 }
 
 .bottom-of-page {
    text-align: center;
 }